# Database
DATABASE_URL=[The URL of Dataset of yours]

# Qwen LLM (DashScope - OpenAI-compatible)
#[It depends on your own model]
# DASHSCOPE_BASE_URL=https://dashscope.aliyuncs.com/compatible-mode/v1
# LLM_MODEL=qwen-plus

# ChromaDB
CHROMA_PERSIST_DIR=./chroma_data

# File Storage
UPLOAD_DIR=./uploads

# JWT Auth
JWT_SECRET_KEY=docx-agent-super-secret-key-change-in-production
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=1440
